html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: #00abf6;
}
.box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10rem auto;
  width: 80vw;
  background-color: aqua;
  border-radius: 2rem;
  justify-content: space-around;
}
.img {
  border: solid 1rem rgb(41, 102, 131);
  border-radius: 1rem;
  background-color: aquamarine;
  margin: 1rem auto;
  padding: 2rem;
  width: 27%;
  height: auto;
  justify-content: space-around;
}
img{
    width: 100%;
    height: 20rem;
}
h2 {
  font-size: 3rem;
  padding: 2rem;
  background-color: wheat;
  
}
.header{
    font-size: 3rem;
    text-align: center;
    position: fixed;
    background-color: bisque;
    width: 100%;
    padding: 2rem;
    top: 0;
    left: 0;

}