html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color:rgb(235, 232, 244);
  font-family: 'Playfair Display', serif;
}
.box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10rem auto;
  width: 80vw;
  background-color:rgb(85, 69, 128);
  border-radius: 2rem;
  justify-content: space-around;
  padding: 2rem;
}
.card {
  border: solid 1rem rgb(41, 102, 131);
  border-radius: 1rem;
  background-color: rgb(201, 202, 205);
  margin: 2rem auto;
  width: 24%;
  height: auto;
  box-shadow: 2rem 2rem 2rem rgb(0, 0, 0);
}
@media screen and (max-width: 100rem) {
  .card{
    width: 27%;
  }
}

@media screen and (max-width: 85rem) {
  .card{
    width: 45%;
  }
}

@media screen and (max-width: 45rem) {
  .card{
    width: 100%;
  }
}
.text {
  font-size: 2rem;
  padding: 2rem;
  background-color: rgb(122, 79, 123);
  color: black;
  
}
.header{
    font-size: 3rem;
    text-align: center;
    position: fixed;
    background-color: rgb(255, 151, 202);
    width: 100%;
    padding: 2rem;
    top: 0;
    left: 0;
    z-index: 999;
    animation: header 2.5s infinite;
}

@keyframes header {
  0%{
    background-color: rgb(242, 243, 202);
  }
  12.5%{
    background-color: rgb(240, 241, 159);
  }
  25%{
    background-color: rgb(252, 187, 102);
  }
  37.5%{
    background-color: rgb(245, 161, 52);
  }
  50%{
    background-color: rgb(185, 107, 4);
  }
  62.5%{
    background-color: rgb(245, 161, 52);
  }
  75%{
    background-color: rgb(252, 187, 102);
  }
  87.5%{
    background-color: rgb(241, 206, 159);
  }
  100%{
    background-color: rgb(247, 222, 189)
  }

}
img{
  width: 100%;
  height: 30rem;
}

.hover1{
  transition: all 0.9s;
}
.hover1:hover{
  transform: rotateX(360deg);
}

.hover2{
  opacity: 0.3;
  transition: all 0.5s;
}

.hover2:hover{
  opacity: 1;
}

.hover3{
  transition: all 0.4s;
}

.hover3:hover{
  transform: scale(1.3);
  z-index: 99;
}

.hover4{
  transition: all 0.5s;
  outline-offset: .5rem;
}

@keyframes border{
  0%{
    border: solid 1rem aliceblue;
  }
  12.5%{
    border: solid 1rem rgb(241, 206, 159);
  }
  25%{
    border: solid 1rem rgb(252, 187, 102);
  }
  37.5%{
    border: solid 1rem rgb(245, 161, 52);
  }
  50%{
    border: solid 1rem rgb(185, 107, 4);
  }
  62.5%{
    border: solid 1rem rgb(245, 161, 52);
  }
  75%{
    border: solid 1rem rgb(252, 187, 102);
  }
  87.5%{
    border: solid 1rem rgb(241, 206, 159);
  }
  100%{
    border: solid 1rem rgb(247, 222, 189)
  }
}
.hover4:hover{
  animation: border 2.5s infinite;
  
}

.hover5{
  transition: all .5s;
  outline-offset: .5rem;
}
.hover5:hover{
  outline: solid 1rem rgb(19, 204, 117);
  z-index: 99;
}
@keyframes outline{
  0%{
    outline-offset: 0.5rem;
  }
  33%{
    outline-offset: 1rem;
  }
  66%{
    outline-offset: 0.5rem;
  }
  100%{
    outline-offset: 0rem;
  }

}
  


.hover6{
  position: relative;
  transition: all .3s;
  top: 0;
}
.hover6:hover{
  transform: scale(1.05);
  top: -10rem;
  z-index: 99;
  }

/* .hover6:hover h2{
  color: rgb(127, 255, 212);
} */